In [7]:
import pandas as pd
import os

# Define the file path
file_path = r"QQQ_2025-04-17_EOD_Calls_Puts_2024-05-13_to_2025-04-11.csv"

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Display basic information about the DataFrame
print(f"DataFrame shape: {df.shape}")
print("\nFirst 5 rows:")
display(df.head())

# Check for missing values
print("\nMissing values per column:")
display(df.isna().sum())

# Display data types
print("\nData types:")
display(df.dtypes)

DataFrame shape: (15524, 46)

First 5 rows:

,contract,underlying_symbol,exp_date,expiration_type,type,strike,exchange,currency,open,high,...,theta,vega,rho,tradetime,vol_oi_ratio,dte,midpoint,record_id,record_type,trade_date
0,QQQ250417C00700000,QQQ,2025-04-17,monthly,call,700,NASDAQ,USD,0.01,0.01,...,-0.013435,0.001195,0.000039,2025-04-11,0.0,5,0.01,QQQ250417C00700000-2025-04-11,options-eod,2025-04-11
1,QQQ250417C00695000,QQQ,2025-04-17,monthly,call,695,NASDAQ,USD,0.00,0.00,...,-0.019109,0.001672,0.000056,2025-04-06,0.0,5,0.02,QQQ250417C00695000-2025-04-11,options-eod,2025-04-06
2,QQQ250417C00690000,QQQ,2025-04-17,monthly,call,690,NASDAQ,USD,0.00,0.00,...,-0.019060,0.001694,0.000057,2025-03-20,0.0,5,0.02,QQQ250417C00690000-2025-04-11,options-eod,2025-03-20
3,QQQ250417C00685000,QQQ,2025-04-17,monthly,call,685,NASDAQ,USD,0.00,0.00,...,-0.019009,0.001717,0.000057,2025-04-08,0.0,5,0.02,QQQ250417C00685000-2025-04-11,options-eod,2025-04-08
4,QQQ250417C00680000,QQQ,2025-04-17,monthly,call,680,NASDAQ,USD,0.00,0.00,...,-0.018957,0.001740,0.000058,2025-03-26,0.0,5,0.02,QQQ250417C00680000-2025-04-11,options-eod,2025-03-26

Missing values per column:

contract                      0
underlying_symbol             0
exp_date                      0
expiration_type               0
type                          0
strike                        0
exchange                      0
currency                      0
open                          0
high                          0
low                           0
last                          0
last_size                     0
change                        0
pctchange                     0
previous                      0
previous_date              5937
bid                           0
bid_date                      0
bid_size                      0
ask                           0
ask_date                      0
ask_size                      0
moneyness                     0
volume                        0
volume_change                 0
volume_pctchange              0
open_interest                 0
open_interest_change          0
open_interest_pctchange       0
volatility                    0
volatility_change             0
volatility_pctchange          0
theoretical                   0
delta                         0
gamma                         0
theta                         0
vega                          0
rho                           0
tradetime                     0
vol_oi_ratio                  0
dte                           0
midpoint                      0
record_id                     0
record_type                   0
trade_date                    0
dtype: int64

Data types:

contract                    object
underlying_symbol           object
exp_date                    object
expiration_type             object
type                        object
strike                       int64
exchange                    object
currency                    object
open                       float64
high                       float64
low                        float64
last                       float64
last_size                    int64
change                     float64
pctchange                  float64
previous                   float64
previous_date               object
bid                        float64
bid_date                    object
bid_size                     int64
ask                        float64
ask_date                    object
ask_size                     int64
moneyness                  float64
volume                       int64
volume_change                int64
volume_pctchange           float64
open_interest                int64
open_interest_change         int64
open_interest_pctchange    float64
volatility                 float64
volatility_change          float64
volatility_pctchange       float64
theoretical                float64
delta                      float64
gamma                      float64
theta                      float64
vega                       float64
rho                        float64
tradetime                   object
vol_oi_ratio               float64
dte                          int64
midpoint                   float64
record_id                   object
record_type                 object
trade_date                  object
dtype: object

In [8]:
# Check for duplicate rows
print(f"Shape before removing duplicates: {df.shape}")

# Drop duplicate rows
df_cleaned = df.drop_duplicates()

# Display shape after removing duplicates
print(f"Shape after removing duplicates: {df_cleaned.shape}")

# Calculate how many duplicates were removed
duplicates_removed = df.shape[0] - df_cleaned.shape[0]
print(f"Number of duplicate rows removed: {duplicates_removed}")

# Update our main dataframe
df = df_cleaned

Shape before removing duplicates: (15524, 46)
Shape after removing duplicates: (15524, 46)
Number of duplicate rows removed: 0

In [9]:
# Define columns to drop
columns_to_drop = [
    'contract',
    'underlying_symbol',
    'exp_date',
    'expiration_type',
    'exchange',
    'currency',
    'bid_date',
    'ask_date',
    'tradetime',
    'record_id',
    'record_type'
]

# Drop the specified columns
print(f"Shape before dropping columns: {df.shape}")
df = df.drop(columns=columns_to_drop, errors='ignore')
print(f"Shape after dropping columns: {df.shape}")

# Display the first few rows to verify columns were dropped
print("\nDataFrame after dropping columns:")
display(df.head())

Shape before dropping columns: (15524, 46)
Shape after dropping columns: (15524, 35)

DataFrame after dropping columns:

,type,strike,open,high,low,last,last_size,change,pctchange,previous,...,theoretical,delta,gamma,theta,vega,rho,vol_oi_ratio,dte,midpoint,trade_date
0,call,700,0.01,0.01,0.01,0.01,5,0.01,0.0,0.0,...,0.01,0.000644,0.000038,-0.013435,0.001195,0.000039,0.0,5,0.01,2025-04-11
1,call,695,0.00,0.00,0.00,0.02,0,0.00,0.0,0.0,...,0.01,0.000928,0.000052,-0.019109,0.001672,0.000056,0.0,5,0.02,2025-04-06
2,call,690,0.00,0.00,0.00,0.02,0,0.00,0.0,0.0,...,0.02,0.000941,0.000053,-0.019060,0.001694,0.000057,0.0,5,0.02,2025-03-20
3,call,685,0.00,0.00,0.00,0.02,0,0.00,0.0,0.0,...,0.02,0.000954,0.000055,-0.019009,0.001717,0.000057,0.0,5,0.02,2025-04-08
4,call,680,0.00,0.00,0.00,0.01,0,0.00,0.0,0.0,...,0.02,0.000969,0.000056,-0.018957,0.001740,0.000058,0.0,5,0.02,2025-03-26

In [10]:
# Sort the DataFrame by trade_date in descending order
df = df.sort_values(by='trade_date', ascending=False)

# Display the first few rows to verify sorting
print("\nDataFrame after sorting by trade_date (descending):")
display(df.head())

# Check the unique trade dates to confirm sorting worked
print("\nUnique trade dates (first 10):")
print(df['trade_date'].unique()[:10])

DataFrame after sorting by trade_date (descending):

,type,strike,open,high,low,last,last_size,change,pctchange,previous,...,theoretical,delta,gamma,theta,vega,rho,vol_oi_ratio,dte,midpoint,trade_date
0,call,700,0.01,0.01,0.01,0.01,5,0.01,0.00,0.00,...,0.01,0.000644,0.000038,-0.013435,0.001195,0.000039,0.00,5,0.01,2025-04-11
8079,put,368,1.04,1.18,0.50,0.62,4,-1.08,-63.53,1.70,...,0.38,-0.020578,0.001027,-0.238644,0.026386,-0.001252,0.67,5,0.38,2025-04-11
8081,put,366,0.52,0.52,0.40,0.40,1,-0.71,-63.96,1.11,...,0.36,-0.019376,0.000963,-0.229838,0.025072,-0.001180,0.11,5,0.36,2025-04-11
8082,put,365,1.05,1.20,0.29,0.29,1,-0.77,-72.64,1.06,...,0.35,-0.018786,0.000932,-0.225330,0.024422,-0.001144,0.07,5,0.35,2025-04-11
8083,put,364,0.77,1.17,0.38,0.38,1,-0.82,-68.33,1.20,...,0.33,-0.017802,0.000888,-0.215605,0.023327,-0.001085,0.29,5,0.33,2025-04-11

Unique trade dates (first 10):
['2025-04-11' '2025-04-10' '2025-04-09' '2025-04-08' '2025-04-07'
 '2025-04-06' '2025-04-04' '2025-04-03' '2025-04-02' '2025-04-01']

In [11]:
# Create binary columns for call/put as integer type
print("Converting 'type' column to binary integers...")
df['call'] = (df['type'] == 'call').astype(int)
df['put'] = (df['type'] == 'put').astype(int)

# Drop the original 'type' column
df = df.drop(columns=['type'])

# Display the first few rows to verify the conversion
print("\nDataFrame after converting 'type' to binary integers:")
display(df.head())

# Check the shape to confirm the transformation
print(f"\nShape after type conversion: {df.shape}")

Converting 'type' column to binary integers...

DataFrame after converting 'type' to binary integers:

,strike,open,high,low,last,last_size,change,pctchange,previous,previous_date,...,gamma,theta,vega,rho,vol_oi_ratio,dte,midpoint,trade_date,call,put
0,700,0.01,0.01,0.01,0.01,5,0.01,0.00,0.00,NaN,...,0.000038,-0.013435,0.001195,0.000039,0.00,5,0.01,2025-04-11,1,0
8079,368,1.04,1.18,0.50,0.62,4,-1.08,-63.53,1.70,2025-04-10,...,0.001027,-0.238644,0.026386,-0.001252,0.67,5,0.38,2025-04-11,0,1
8081,366,0.52,0.52,0.40,0.40,1,-0.71,-63.96,1.11,2025-04-10,...,0.000963,-0.229838,0.025072,-0.001180,0.11,5,0.36,2025-04-11,0,1
8082,365,1.05,1.20,0.29,0.29,1,-0.77,-72.64,1.06,2025-04-10,...,0.000932,-0.225330,0.024422,-0.001144,0.07,5,0.35,2025-04-11,0,1
8083,364,0.77,1.17,0.38,0.38,1,-0.82,-68.33,1.20,2025-04-10,...,0.000888,-0.215605,0.023327,-0.001085,0.29,5,0.33,2025-04-11,0,1

Shape after type conversion: (15524, 36)

In [12]:
# Calculate the percentage of rows with volume less than 10
low_volume_count = (df['volume'] < 10).sum()
total_rows = len(df)
low_volume_percentage = (low_volume_count / total_rows) * 100

# Display the results
print(f"\nAnalyzing volume data:")
print(f"Total number of rows: {total_rows}")
print(f"Number of rows with volume < 10: {low_volume_count}")
print(f"Percentage of rows with volume < 10: {low_volume_percentage:.2f}%")

# Optional: Display a sample of low volume rows
print("\nSample of rows with volume < 10:")
display(df[df['volume'] < 10].head())

Analyzing volume data:
Total number of rows: 15524
Number of rows with volume < 10: 7538
Percentage of rows with volume < 10: 48.56%

Sample of rows with volume < 10:

,strike,open,high,low,last,last_size,change,pctchange,previous,previous_date,...,gamma,theta,vega,rho,vol_oi_ratio,dte,midpoint,trade_date,call,put
0,700,0.01,0.01,0.01,0.01,5,0.01,0.00,0.00,NaN,...,0.000038,-0.013435,0.001195,0.000039,0.00,5,0.01,2025-04-11,1,0
8094,353,0.68,0.68,0.66,0.66,1,-0.39,-37.14,1.05,2025-04-10,...,0.000618,-0.171249,0.017334,-0.000770,0.01,5,0.24,2025-04-11,0,1
8105,342,0.41,0.68,0.41,0.42,1,-0.29,-40.85,0.71,2025-04-10,...,0.000431,-0.135316,0.012871,-0.000549,0.01,5,0.18,2025-04-11,0,1
8068,379,0.74,0.91,0.55,0.55,1,-1.66,-75.11,2.21,2025-04-10,...,0.001514,-0.308559,0.036440,-0.001835,0.00,5,0.53,2025-04-11,0,1
8108,339,0.53,0.53,0.15,0.15,2,-0.80,-84.21,0.95,2025-04-10,...,0.000376,-0.119907,0.011317,-0.000474,0.01,5,0.16,2025-04-11,0,1

In [13]:
# Filter out rows with volume <= 9
print("\nRemoving rows with volume <= 9...")
original_row_count = len(df)
df = df[df['volume'] > 9]
new_row_count = len(df)
removed_rows = original_row_count - new_row_count

# Display the results
print(f"Original number of rows: {original_row_count}")
print(f"Number of rows after filtering: {new_row_count}")
print(f"Number of rows removed: {removed_rows}")
print(f"Percentage of rows removed: {(removed_rows / original_row_count) * 100:.2f}%")

# Display the first few rows of the filtered DataFrame
print("\nDataFrame after removing low volume rows:")
display(df.head())

# Verify that no rows with volume <= 9 remain
remaining_low_volume = (df['volume'] <= 9).sum()
print(f"\nNumber of rows with volume <= 9 remaining: {remaining_low_volume}")

Removing rows with volume <= 9...
Original number of rows: 15524
Number of rows after filtering: 7986
Number of rows removed: 7538
Percentage of rows removed: 48.56%

DataFrame after removing low volume rows:

,strike,open,high,low,last,last_size,change,pctchange,previous,previous_date,...,gamma,theta,vega,rho,vol_oi_ratio,dte,midpoint,trade_date,call,put
8079,368,1.04,1.18,0.50,0.62,4,-1.08,-63.53,1.70,2025-04-10,...,0.001027,-0.238644,0.026386,-0.001252,0.67,5,0.38,2025-04-11,0,1
8081,366,0.52,0.52,0.40,0.40,1,-0.71,-63.96,1.11,2025-04-10,...,0.000963,-0.229838,0.025072,-0.001180,0.11,5,0.36,2025-04-11,0,1
8082,365,1.05,1.20,0.29,0.29,1,-0.77,-72.64,1.06,2025-04-10,...,0.000932,-0.225330,0.024422,-0.001144,0.07,5,0.35,2025-04-11,0,1
8083,364,0.77,1.17,0.38,0.38,1,-0.82,-68.33,1.20,2025-04-10,...,0.000888,-0.215605,0.023327,-0.001085,0.29,5,0.33,2025-04-11,0,1
8084,363,0.91,1.16,0.28,0.33,1,-0.65,-66.33,0.98,2025-04-10,...,0.000872,-0.216105,0.023133,-0.001075,0.17,5,0.33,2025-04-11,0,1

Number of rows with volume <= 9 remaining: 0

In [14]:
# Save the cleaned DataFrame to a CSV file
output_path = 'QQQ_Chain_Clean.csv'
print(f"\nSaving cleaned data to {output_path}...")

# Save to CSV without the index column
df.to_csv(output_path, index=False)

print(f"Data successfully saved to {output_path}")
print(f"File contains {len(df)} rows and {len(df.columns)} columns")

# Optional: Display file information
import os
if os.path.exists(output_path):
    file_size_kb = os.path.getsize(output_path) / 1024
    print(f"File size: {file_size_kb:.2f} KB")

Saving cleaned data to QQQ_Chain_Clean.csv...
Data successfully saved to QQQ_Chain_Clean.csv
File contains 7986 rows and 36 columns
File size: 1612.25 KB